sudo: false
dist: trusty
language: python
python:
  - 2.7
  - 3.4
  - 3.6
addons:
  apt:
    packages:
      - libopenbabel-dev
      - swig
cache:
  pip: true
before_install:
  - pip install -r requirements.txt
install:
  - python setup.py install
script:
  - sh travis/run_travis_tests.sh
