numpy
packaging>=19.0
qcelemental
scipy>=1.2.0

# bridges
biopython==1.76
ase>=3.21
git+https://github.com/cclib/pyquante2.git@github-actions-ci
git+https://github.com/theochem/iodata.git@1.0.0a2

# For building the documentation
sphinx
sphinx_rtd_theme

# For testing
pytest
coverage
pytest-cov
