*.bas0
*.bas1
*.bas2
*.bas3
*.bas4
*.bas5
*.bibtex
*.carthess
*.cpscfdata.tmp.*
*.densities
*.densitiesinfo
*.diisao.tmp.*
*.diise.tmp.*
*.diist.tmp.*
*.hostnames
*.property.txt
*.propint.tmp.*
*.soscfv.tmp.*
*.trjact.dat
*.trjscf.dat
