---
# yamllint disable rule:line-length
name: run tests and coverage

# yamllint disable-line rule:truthy
on: [push, pull_request]

jobs:

  run-tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6, 3.7]
    steps:
      - name: Install SWIG and Git
        run: |
          sudo apt-get update && sudo apt-get install -y -qq git swig
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }} with conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          channels: psi4, conda-forge
      - name: Install conda-based and testing dependencies
        shell: bash -l {0}
        run: |
          conda config --set always_yes true --set changeps1 false --set channel_priority flexible --set quiet true
          conda info -a
          conda install ci-psi4 psi4 openbabel pytest-cov pytest-shutil h5py
          python -m pip install git+https://github.com/pyscf/pyscf.git
          python -m pip install qc-iodata
          conda list
          conda env export
      - name: Install core dependencies
        shell: bash -l {0}
        run: |
          python -m pip install -r requirements.txt
      - name: Install cclib
        shell: bash -l {0}
        run: |
          which python
          python -m pip install .
      - name: Test with pytest
        shell: bash -l {0}
        run: |
          which python
          env | sort
          bash .github/scripts/run_pytest.bash
      - name: Upload coverage to Codecov
        if: matrix.python-version == 3.7
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage-unit.xml,./coverage-regression.xml
          name: codecov-cclib
          fail_ci_if_error: true
          verbose: false
