---
# yamllint disable rule:line-length
name: docs push

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]

jobs:
  push-docs:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        container:
          - 'shivupa/cclib-ci:py311-edge'
    container:
      image: ${{ matrix.container }}
    defaults:
      run:
        shell: bash -eo pipefail -l {0}
    steps:
      - name: Installs for ssh-agent
        run: |
          apt-get update && apt-get install -y openssh-client
      - name: Checkout
        uses: actions/checkout@v4
      - name: Allow repo access (see https://github.com/actions/checkout/issues/760)
        run: |
          git config --global --add safe.directory /__w/cclib/cclib
      - name: Prepare conda environment
        run: |
          echo "/opt/conda/envs/cclib/bin" >> $GITHUB_PATH
      - name: Install theme
        run: python -m pip install sphinx_rtd_theme
      - name: Build docs
        run: cd doc && make default
      - name: Make a no jekyll file
        run: touch doc/sphinx/_build/html/.nojekyll
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.CCLIB_DOCS_KEY }}
        with:
          source-directory: doc/sphinx/_build/html
          destination-github-username: 'cclib'
          destination-repository-name: 'cclib.github.io'
          commit-message: See ORIGIN_COMMIT from $GITHUB_REF
          target-branch: master
