---
# yamllint disable rule:line-length
name: docs push

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]

jobs:
  push-docs:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        container:
          - 'shivupa/cclib-ci:py310-edge'
    container:
      image: ${{ matrix.container }}
    defaults:
      run:
        shell: bash -eo pipefail -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Allow repo access (see https://github.com/actions/checkout/issues/760)
        run: |
          git config --global --add safe.directory /__w/cclib/cclib
      - name: Prepare conda environment
        run: |
          echo "/opt/conda/envs/cclib/bin" >> $GITHUB_PATH
      - name: Install theme
        run: python -m pip install sphinx_rtd_theme
      - name: Build docs
        run: cd doc && make default
      - name: Make a no jekyll file
        run: touch doc/sphinx/_build/html/.nojekyll
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: "doc/sphinx/_build/html"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
